{{!-- This file depends on burgers_controller.js 
When a function renders ("index",some data), it will send it to
this file. --}}

<h1 style= "text-align: center;">Burgers!</h1>
<div class="row">
  <div class="column" style = "float: left;
  width: 50%;">
    <h2>Burgers that have not been eaten</h2>
    <ul>
      {{!-- data is an array of objects that is being
  iterated by #each and #if devoured is equal to true
  it will send information to the partials handlebar at burgers/burger_eaten
  and set devoured = true, which may change the information on the button.--}}

  {{!-- I logged the data from burgers_controll.js a --}}
      {{#each burger}}
      {{#unless devoured}}
        <li>{{burger_name}}</li>
      {{> burgers/burger_eaten devoured=true}}
      {{/unless}}
      {{/each}}
    </ul>
  </div>
  <div class="column" style = "float: left;
  width: 50%;">
    <h2 style="margin-right: 10%;">Burgers that have been eaten</h2>

    <ul>
      {{#each burger_data}}
      <p>hi</p>
      {{#if devoured}}
        <li>{{burger_name}}</li>
      {{> burgers/burger_eaten devoured=false}}
      {{/if}}
      {{/each}}
    </ul>
  </div>
</div>





{{!-- This creates all the functioning buttons --}}
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger:</label>
    <input type="text" id="burger" name="name">
  </div>

  <button type="submit">Add Burger</button>

</form>