{{!-- This file depends on burgers_controller.js 
When a function renders ("index",some data), it will send it to
this file. --}}

<h1>Burgers!</h1>

<h2>Burgers that have not been eaten</h2>

<ul>
  {{!-- burger_data is an array of objects that is being
  iterated by #each and #if devoured is equal to true
  it will send information to the partials handlebar at burgers/burger_eaten
  and set devoured = true, which may change the information on the button.--}}
  {{#each burger_data}}
    {{#if devoured}}
      {{> burgers/burger_eaten devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Burgers that have been eaten</h2>

<ul>
  {{#each burger_data}}
    {{#if devoured}}
      {{> burgers/burger_eaten devoured=false}}
    {{/if}}
  {{/each}}
</ul>

{{!-- This creates all the functioning buttons --}}
<h1>Burgers</h1>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="ate">Eaten?</label><br>
    <input type="radio" name="eaten" value="1" checked> Eaten!<br>
    <input type="radio" name="eaten" value="0"> Available
  </div>

  <button type="submit">Add Burger</button>

</form>
