{{!-- Dependent on the index.handlebars, this changes the
name of the buttons depending on whether a condition, in this case
whether the burger is eaten or not, is true. --}}
<li>
	{{name}}

	<button class="eat_burger" data-id="{{id}}" data-eat="{{devoured}}">
		{{#if devoured}}DEVOURED{{else}}AVAILABLE{{/if}}
	</button>
</li>
